.homebg{
    background-image: url('https://i.imgur.com/qXp6iMb_d.webp?maxwidth=760&fidelity=grand') !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

Body{
    color: white !important;
}

ol{
    color: aqua !important;
}

a{
    color: plum !important;
}

div{
    text-align: justify !important;
}

h1{
    text-align: left !important;
}